<div class="">
  <h1>Edit Course</h1>

  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Name </label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{course.name}}"
        placeholder="Enter name"
      />

    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="2"
      >{{course.description}}
      </textarea>

    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      <input
        type="text"
        name="slug"
        class="form-control"
        id="slug"
        value="{{course.slug}}"
        placeholder="slug"
      />
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input
        type="text"
        name="image"
        class="form-control"
        id="image"
        value="{{course.image}}"
        placeholder="image"
      />
    </div>
    <a href="/me/stored/courses" class="btn">Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>