<div class="mt-4">
  <div>
  <h3>Data Deleted</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col" colspan="" >Create at</th>
        <th scope="col" style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}

        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>

          </td>
          <td>{{this.createdAt}}</td>
          <td>
            <div class="row">
              <a
                href=""
                data-id="{{this._id}}"
                class="btn btn-secondary mr-2 btn-restore"
              >Restore</a>
              <a
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#deleteModal"
                data-id="{{this._id}}"
              >Fore Delete</a>
            </div>

          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            No data
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        DO you want delete?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- DELETE form --}}
<form method="POST" name="delete-course-form" ></form>
<form method="POST" name="restore-course-form" ></form>


<script>
  document.addEventListener('DOMContentLoaded', function(event){
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var restoreBtn = $('.btn-restore');

    $('#deleteModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget);
    courseId = button.data('id');
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    btnDeleteCourse.onclick= function(){
      deleteForm.action = '/courses/'+courseId+'/force?_method=DELETE'
      deleteForm.submit()
    }

  })

    restoreBtn.click(function(e){
      e.preventDefault()
      var courseId =  $(this).data('id')
      console.log($(this).data('id'))
      restoreForm.action = '/courses/'+courseId+'/restore?_method=PATCH'
      restoreForm.submit()
    })


})

</script>
